<div class="container" style="margin-top:34px">
  <div class="footer_trust_top">
    <p>AS FEATURED IN</p>
    <div class="trustlogos"></div>
  </div>
 
  <div class="f">
    <h4>Steve Jobs-</h4>
    <p>"Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.”</p>

   
  </div>
  


	

  </body>
</html>